extends ./layout
block content
	.row
		.col-lg-3
			.ibox
				.ibox-content
					h5 #{group}
					table.table.table-stripped.small.m-t-md.nodes
						tbody#nodes
							for node, key in nodes
								tr
									td
										if(node.status)
											i.fa.fa-circle.text-navy
										else
											i.fa.fa-circle.text-danger
									if key === nodeCurr
										td.node.node-curr(id='#{group + "_" + key}')
											| #{key}
									else
										td.node(id='#{group + "_" + key}')
											| #{key}
		.col-lg-9
			.ibox
				.ibox-content
					table.table.table-stripped.small.m-t-md
						tbody#connectors
							for connect, key in connectors
								tr
									td
										if(connect.status)
											i.fa.fa-circle.text-navy
										else
											i.fa.fa-circle.text-danger
									td.connect(data-toggle="tooltip" data-placement="left" title='#{JSON.stringify(connect,undefined,2)}')
										| #{connect.config.name}
									td.options
										i.fa.fa-times.text-danger
										| &nbsp;&nbsp;
										i.fa.fa-power-off.text-danger
										| &nbsp;&nbsp;
										i.fa.fa-repeat.text-navy
										| &nbsp;&nbsp;
										i.fa.fa-play.text-navy
								
block scripts
	script(type="text/javascript").
		var group = '#{group}';
		var nodes = !{JSON.stringify(nodes)};
		var nodeCurr = '#{group+"_"+nodeCurr}';
		$('.node').on('click', function () {
			var node = this.id.split('_')[1];
			$('.node').removeClass('node-curr');
			nodeCurr = this.id;
			$(this).addClass('node-curr');
			var connectors = nodes[node].connectors;
			$('#connectors').empty();
			for(var key in connectors){
				connect = connectors[key];
				var tbody = ["<tr>",
					"  <td>",
					connect.status ? "<i class=\"fa fa-circle text-navy\"></i>" : "<i class=\"fa fa-circle text-danger\"></i>",
					"  </td>",
					"  <td data-toggle=\"tooltip\" data-placement=\"left\" title=\'"+ JSON.stringify(connect,undefined,2) +"\' class=\"connect\">"+key+"</td>",
					"  <td class=\"options\"><i class=\"fa fa-times text-danger\"></i>&nbsp;&nbsp;<i class=\"fa fa-power-off text-danger\"></i>&nbsp;&nbsp;<i class=\"fa fa-repeat text-navy\"></i>&nbsp;&nbsp;<i class=\"fa fa-play text-navy\"></i></td>",
					"</tr>"].join("");
				$('#connectors').append(tbody);
			}
		});
