extends ./layout
block content
	.row
		for nodes, group in connectors
			.col-lg-3.index-group(name='#{group}')
				.ibox
					.ibox-content
						.top
							span(style ="float:left;") 
								h2(style="font-weight:500;") #{group}
							span(style ="float:right;" hidden="hidden")
								a.node-plus(data-group='#{group}')
									i.fa.fa-plus.text-right
						table.table.table-stripped.small.m-t-md
							tbody
								for node, key in nodes
									tr
										td
											if(node.status === 1)
												i.fa.fa-circle.text-navy
											else
												i.fa.fa-circle.text-danger
										td.node(id='#{group+ "_"+key}')
											| #{key}
	#modal-form.modal.fade(aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-body
					.row
						.col-sm-12
							h3.m-t-none.m-b 添加节点
							form(role='form')
								.form-group
									label 组
									input.form-control(name='group' type='text' readonly)
								.form-group
									label IP
									input.form-control(name='ip' type='text', placeholder='Enter IP')
								.form-group
									label Port
									input.form-control(name='port' type='text', placeholder='Enter Port')
						.col-sm-12
							button.btn-node-plus.btn.btn-sm.btn-primary.pull-right.m-t-n-xs
								strong 确定		
									
										
block scripts
	script(type="text/javascript").
		window.connectors = !{JSON.stringify(connectors)};
		$('.node').on('click', function () {
			var group = this.id.split('_')[0];
			var node = this.id.split('_')[1];
			window.location = `/connector?group=${group}&node=${node}`
			
		});
		$('.node-plus').on('click', function () {
			var group = $(this).data('group');
			
			$("#modal-form").find('[name=group]').val(group);
			$('#modal-form').modal('show');
		});
		$('.btn-node-plus').click(function () {
			var group = $('#modal-form').find('[name=group]').val();
			var ip = $('#modal-form').find('[name=ip]').val();
			var port = $('#modal-form').find('[name=port]').val();
			var body = {group:group, ip:ip, port: port};
			$.ajax({
				url: '/nodes',
				type: 'POST',
				data: body,
				dataType: "JSON",
				success: function (resp) {
					$('#modal-form').modal('hide');
					window.connectors[resp.group] = resp.node;
				},
				error: function (err) {
					alert(err.message);
				}
			});
		});
		
